<div class="header">
  <a href="#default" class="logo">TODO APP</a>
  <div class="header-right">
    Welcome {{username}}<img src="{{avatar_url}}" width="50" height="60" style="border-radius:160px ;"> 
    <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
    <button type="button" class="btn btn-primary" (click)="add()">ADD Task</button>
   
 
  </div>
</div>

<div class="list row">

  
  <div class="example-container">
    <h2>Your To-do's</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      (cdkDropListDropped)="updatePublished(false)">
      <div class="example-box"  
      *ngFor="let tutorial of todo; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTutorial(tutorial, i)" cdkDrag>{{ tutorial.title }}</div>
    </div>
  </div>
  
  
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list-done"
      (cdkDropListDropped)="drop($event)"
      (cdkDropListDropped)="updatePublished(true)">
      <div class="example-box" 
      *ngFor="let d of done; let dt = index"  
      [class.active]="dt == currentIndex"
      (click)="setActiveTutorial(d, dt)"  cdkDrag> {{ d.title }}</div>
    </div>
    
    

    <div class="example-box">
      <app-todo-details
        [viewMode]="true"
        [currentTutorial]="currentTask"
      ></app-todo-details>
    </div>
  
  </div>
  </div>

  <!-- <div class="dynamic">
    <button mat-raised-button color="primary">Done</button>
    <button mat-raised-button color="primary">Pending</button>
  </div>
  <div> -->
    <!-- <h1><ng-container *ngComponentOutlet="DoneComponent"></ng-container></h1> -->
  <!-- </div> -->
 

  

  

  